.container{
    display: flex;
    justify-content: space-between;
}

.toolbar-children{
    width: 20%;
    background: rgb(138, 107, 107);    
}

.tabla {
    width : 40%;
}

.image-buss{
    width: 40%;
    background: rgb(155, 69, 69);
}

.margin-colum{
    padding-right: 18px
}
  
.mat-form-field {
font-size: 14px;
width: 100%;
}

table {
    width: 100%;
}

.user-name{

}
mat-form-field{
    padding: 2%;
}

.material-icons{
    margin-left: 90%;
}

mat-grid-tile {
    background: lightblue;
}

.colum{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.material-icons.md-36 { 
    font-size: 48px;
    margin: 0;
}
